@import 'mixins.scss';

.share-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6000;
}

.share-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .7;
}

.share-content {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: white;
    &.top {
        top: 0;
    }
    &.bottom {
        bottom: 0;
    }
    &.center {
        top: 50%;
        left: 50%;
        transform: translate(-50% -50%);
    }
}
